@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --basic-color: #23cc71;
  --languages-color: #0009b1;

}

.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', serif;
  overflow: hidden;
  background-image: url('https://wallpapercave.com/wp/wp3082255.jpg');
}

.container {
  display: flex;
  flex-direction: row;
}

.container h1 {
  font-size: 60px;
  text-align: center;
  color: var(--basic-color);
}

.repo-container {
  width: 70%;
  height: 700px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  .repo-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

.repo-text {
  font-weight: 600;
}

.repo-description {
  font-weight: 600;
  font-style: bold;
  color: var(--basic-color);
}

.repo-languages {
  font-weight: 600;
  font-style: bold;
  color: var(--languages-color);
}

.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.footer {
  font-size: 15px;
  font-weight: 600;
  margin-top: 35px;
}

.list {
  list-style: circle;
}